.places {
  margin: 92px 148px 0;
}

@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .places {
    margin: 92px calc(148px - (148 - 48) * (1279px - 100vw) / (1279 - 1025)) 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .places {
    margin: calc(92px - (92 - 88) * (1024px - 100vw) / (1024 - 769)) calc(48px - (48 - 24) * (1024px - 100vw) / (1024 - 769)) 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .places {
    margin: calc(88px - (88 - 64) * (768px - 100vw) / (768 - 320)) calc(24px - (24 - 0) * (768px - 100vw) / (768 - 320)) 0;
  }
}