.lead {
  margin: 56px 148px 0;
}

@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .lead {
    margin: calc(56px - (56 - 48) * (1279px - 100vw) / (1279 - 1025)) calc(148px - (148 - 48) * (1279px - 100vw) / (1279 - 1025)) 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .lead {
    margin: 48px calc(48px - (48 - 0) * (1024px - 100vw) / (1024 - 769)) 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .lead {
    margin: 48px 0 0;
  }
}