.place__paragraph {
  margin: 0 0 26px;
}

.place__paragraph:last-child {
  margin: 0;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .place__paragraph {
    margin: 0 0 25px;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .place__paragraph {
    margin: 0 calc(0px + (16 - 0) * (599px - 100vw) / (599 - 320)) 25px;
  }

  .place__paragraph:last-child {
    margin: 0 calc(0px + (16 - 0) * (599px - 100vw) / (599 - 320));
  }
}