.cover__title {
  max-width: 560px;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  text-align: center;
  z-index: 1;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .cover__title {
    font-size: calc(72px - (72 - 32) * (768px - 100vw) / (768 - 320));
    line-height: calc(76px - (76 - 35) * (768px - 100vw) / (768 - 320));
    max-width: calc(560px - (560 - 288) * (768px - 100vw) / (768 - 320));
  }
}